<!--Usa o template base.html como template base (pai) -->
{% extends 'base/base.html' %}
{% load static %}
{% block description%}Pagina com Video {% endblock description%}>
{% block title %}Curso Django - Video{% endblock title%}

{% block body%}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-4 mb=4">{{ video.titulo }}</h1>  <!--this variable is explained within views.py-->
                    <!-- VIDEO NO YOUTUBE -->
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video.youtube_id}}" title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;
                        picture-in-picture" allowfullscreen></iframe>
  		</div>
	</div>
</div>

{% endblock body%}

