<footer class="main-footer mt-4 pt-2 pb-3 text-light">
        <div class="container" >
            <div class="row">
                <div class="col">
                    <br>
                    <h3>Contact Details</h3>
                    <address>
                        +55 14 123456789
                        <br>
                        <a href="mailto:{{ email_contact}}" class="text-light">{{ email_contact}}</a>
                    </address>
                </div>
            </div>
        </div>
        <div class="rights pb-4">
             <div class="container" >
                <div class="row">
                    <div class="col">
                        {% now 'Y' %} - All Rights Reserved
                    </div>
                </div>
        </div>
        </div>

    </footer>